### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
raw_df = purchase_data

## Player Count

* Display the total number of players

In [2]:
df = raw_df.drop_duplicates(['SN'], keep='first')
pd.DataFrame({"Total Players":[df['SN'].count()]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = raw_df["Item ID"].unique()
average_price = raw_df["Price"].mean()
num_purchases = raw_df["Item ID"].count()
total_rev = raw_df["Price"].sum()
df_summary = pd.DataFrame({"Number of Unique Items":[len(unique_items)], 
                           "Average Price":[average_price], "Number of Purchases":[num_purchases],
                           "Total Revenue":[total_rev]})
df_summary["Average Price"] = df_summary["Average Price"].map("${:,.2F}".format)
df_summary["Total Revenue"] = df_summary["Total Revenue"].map("${:,.2F}".format)
df_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
total_users = df['SN'].count()
m_player = df["Gender"].value_counts()

# print(m_player)
per_player = m_player / total_users
per_player_df = pd.DataFrame({"Total Count":m_player, "Percentage of Players":per_player})
per_player_df["Percentage of Players"] = per_player_df["Percentage of Players"].map("{:.2%}".format)
per_player_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
raw_df_by_gender = raw_df.groupby("Gender")

purchase_count = raw_df_by_gender.count()["Purchase ID"]
avg_purchase_price = raw_df_by_gender.mean()["Price"].map("${:.2f}".format)
total_purchases = raw_df.groupby("Gender")["Price"].sum().map("${:.2f}".format)
avg_purchase_total = raw_df.groupby(["SN", "Gender"]).sum().groupby("Gender").mean()["Price"].map("${:.2f}".format)

purchase_analysis_df = pd.concat([purchase_count.rename("Purchase Count"), avg_purchase_price.rename("Average Purchase Price"), total_purchases.rename("Total Purchase Value"), avg_purchase_total.rename("Average Purchase Total")], axis=1)

purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Establish bins for ages

max_age = raw_df["Age"].max()

age_intervals_df = df.copy()
# Categorize the existing players using the age bins. Hint: use pd.cut()

age_intervals_df["Age"] = pd.cut(raw_df["Age"], [0, 10, 15, 20, 25, 30, 35, 40, max_age+1], 
                                 labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], right=False)

# Calculate the numbers and percentages by age group
age_interval_counts = age_intervals_df.groupby("Age").count()["Purchase ID"].rename("Total Count")
age_interval_percentages = (age_interval_counts / total_users).map("{:.2%}".format)

age_interval_df = pd.concat([age_interval_counts, age_interval_percentages.rename("Percentage of Players")], axis=1)

age_interval_df

# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
raw_df["Age Ranges"] = pd.cut(raw_df["Age"], [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, max_age+1], 
                       labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
raw_df_by_age = raw_df.groupby("Age Ranges")

# Run calculations
purchase_count = raw_df_by_age["Price"].count()
avg_purchase_price = raw_df_by_age["Price"].mean().map("${:.2f}".format)
total_purchases = raw_df_by_age["Price"].sum().map("${:.2f}".format)
avg_purchase_total = raw_df_by_age["Price"].mean().map("${:.2f}".format)

# Data Frame
age_purchase_df = pd.DataFrame({"Purchase Count":purchase_count,
                   "Average Purchase Price":avg_purchase_price,
                   "Total Purchase Value":total_purchases,
                    "Avg Total Purchase per Person":avg_purchase_total})

#pd.DataFrame(raw_df.groupby("Age Ranges")["Purchase ID"].count())
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
#Create a summary data frame to hold the results
spender = raw_df.groupby("SN")
#spender_df = pd.DataFrame(spender["Purchase ID"])

# Calcuate Total Purchases
pc_spender = spender["Purchase ID"].count()

# Calculate Average Purchase by name
avg_pp_spender = spender["Price"].mean()

# Calculate Total Purchase
purchase_spender = spender["Price"].sum()
                              
# Create dataframe 
top_spenders = pd.DataFrame({"Purchase Count":pc_spender,
                   "Average Purchase Price":avg_pp_spender,
                   "Total Purchase Value":purchase_spender})

# Sort in decending order by top 5 spender
sort_spenders = top_spenders.sort_values(by="Total Purchase Value", ascending=False).head()

# Formating Average Purchase Price and Total Purchase Value
sort_spenders["Average Purchase Price"] = sort_spenders["Average Purchase Price"].map("${:.2f}".format)
sort_spenders["Total Purchase Value"] = sort_spenders["Total Purchase Value"].map("${:.2f}".format)

#Display a preview of the summary data frame
sort_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
# Create new data frame 
popular_items = raw_df.loc[:,["Item ID", "Item Name", "Price"]]

# Group item data by item id and item name 
popular_item_stats = popular_items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = popular_item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (popular_item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [58]:
# Take the most profitable items data frame and change the sorting to find highest total purchase value
profitable_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
profitable_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})